services:
  web:
    build:
      context: .
      dockerfile: ./docker/local/django/Dockerfile
    command: /start.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis # حذفنا db من هنا لأن القاعدة خارجية
    # ضروري جداً لكي يرى السيرفر قاعدة البيانات على جهازك
    extra_hosts:
      - "host.docker.internal:host-gateway"

  celery:
    build:
      context: .
      dockerfile: ./docker/local/django/Dockerfile
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis # حذفنا db من هنا أيضاً
    # ضروري لكي يرى الـ Worker قاعدة البيانات
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"